{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row" id="reservations_container">
                        
                        <!-- [ statistics year chart ] start -->
                        <template id="template_reservation">
                        <div class="col-xl-4 col-md-6">
                            <div class="card card-event">
                                <div class="card-block">
                                </div>
                            </div>
                        </div>
                        </template>
                                                


                        <template id="template_none">
                            <div class="col-xl-4 col-md-6">
                            <div class="card card-event">
                                <div class="card-block">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col">
                                            <h5 class="m-0">No reservation available</h5>
                                        </div>                                       
                                    </div>                              
                                </div>
                            </div>
                        </div>
                        </template>
                        
                        
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>


<script>
     document.addEventListener("DOMContentLoaded", async () => {
        var s= new ServicesProxy();
        var r = await s.getReservations();
        if(r && r.length>0) {
            
            for(var c=0; c<r.length; c++) {
                let res = r[c];
                const clone = template_reservation.content.firstElementChild.cloneNode(true);

                let node_str = `
                <span class="label label-${res.status=="RESERVED" ? "success" : "info"}">${res.status}</span><h3 class="text-muted mt-4 mb-0">Reservation (${res.id})</h3>
                        <h4 class="text-muted mt-4 mb-0">Check-in: ${res.checkin_date}</h4>
                        <h4 class="text-muted mt-4 mb-0">Days: ${res.num_of_days}, guests: ${res.num_of_guests}</h4>
                 `;

                 if(res.rooms.length>0) {
                    node_str += `<h4 class="text-muted mt-4 mb-0">Rooms:</h4>`;                            
                    node_str += `
                        <div class="table-responsive">
                        <table class="table">            
                        <tbody>`;

                    for(let c=0; c<res.rooms.length; c++) {
                        let r = res.rooms[c].room;
                        node_str += `
                            <tr>
                                <td>${r.number}</td>
                                <td>${r.type}</td>
                            </tr>`;
                    }

                    node_str += `
                        </tbody>
                        </table>
                        </div>`;                                    
                 }


                if(res.status=="RESERVED") {
                    node_str += `<h4 class="text-muted mt-4 mb-0"></h4>               
                    <a href="/ui-checkin.html?reserve=${res.id}" class="btn btn-info" role="button">Check IN</a>                     
                    <h4 class="text-muted mt-4 mb-0"></h4>`;                                   
                }


                if(res.status=="CHECKED_IN") {                    
                    node_str += `<h4 class="text-muted mt-4 mb-0">Guests:</h4>`;                            
                    if(res.num_of_guests.length>0) {
                    node_str += `
                        <div class="table-responsive">
                        <table class="table">            
                        <tbody>`;

                    for(let c=0; c<res.num_of_guests.length; c++) {
                        let r = res.num_of_guests[c];
                        node_str += `
                            <tr>
                                <td>${r.number}</td>
                                <td>${r.type}</td>
                            </tr>`;
                    }

                    node_str += `
                        </tbody>
                        </table>
                        </div>`;                                    
                 }
                 node_str += `<h4 class="text-muted mt-4 mb-0"></h4>               
                    <a href="/ui-enroll.html?reserve=${res.id}" class="btn btn-info" role="button">Enroll guest</a>                     
                    <h4 class="text-muted mt-4 mb-0"></h4>`;     
                
                }
                 

                if(res.status=="CANCELED") {
                    node_str += `<h4 class="text-muted mt-4 mb-0"></h4>               
                    <a href="#" class="btn btn-info" role="button">Canceled</a>                     
                    <h4 class="text-muted mt-4 mb-0"></h4>`;                                   
                }
             
                
                if(res.status=="CHECKED_OUT") {
                    node_str += `<h4 class="text-muted mt-4 mb-0"></h4>               
                    <a href="#" class="btn btn-info" role="button">Checked out</a>                     
                    <h4 class="text-muted mt-4 mb-0"></h4>`;                                   
                }
             

                clone.querySelector('.card-block').innerHTML = node_str;
                
                reservations_container.appendChild(clone);
            }

        } else {
            const clone = template_none.content.firstElementChild.cloneNode(true);
            reservations_container.appendChild(clone);
        }
    });
</script>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}