{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        
                        <!-- [ statistics year chart ] start -->
                        <div class="col-xl-4 col-md-6">
                            <div class="card card-event">
                                <div class="card-block">
                                    <h3 class="text-muted mt-4 mb-0">Guest</h3>
                                    <h4 class="text-muted mt-4 mb-0">Name of guest 1</h4>
                                    <h4 class="text-muted mt-4 mb-0"><image></image><image></image><image></image></h4>               
                                    <a href="/ui-checkin.html" class="btn btn-info" role="button">Enroll image</a>                     
                                    <h4 class="text-muted mt-4 mb-0"></h4>                                    
                                </div>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}